<!DOCTYPE html>
<html>
	<head>
		<title>About Snikket</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	</head>
	<body>
		<h1>About Snikket</h1>
		<h2>What is Snikket?</h2>
		<p>Snikket is an easy-to-use and easy-to-setup Instant Messaging platform for you and your friends and family.</p>
		<h2>What is the Snikket Web Portal?</h2>
		<h2>Behind the Scenes and Licenses</h2>
		<h3>Quart Microframework</h3>
		<hr>
		<h1>h1</h1>
		<h2>h2</h2>
		<h3>h3</h3>
		<h4>h4</h4>
		<h5>h5</h5>
		<h6>h6</h6>
	</body>
</html>
