{% extends "admin_app.html" %}
{% from "library.j2" import action_button, value_or_hint %}
{% block content %}
<h1>{% trans %}Manage users{% endtrans %}</h1>
<div class="elevated el-2"><table>
	<thead>
		<tr>
			<th>{% trans %}Login name{% endtrans %}</th>
			<th>{% trans %}Display name{% endtrans %}</th>
			<th class="collapsible">{% trans %}Email address{% endtrans %}</th>
			<th class="collapsible">{% trans %}Phone number{% endtrans %}</th>
			<th>{% trans %}Actions{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
{% for user in users %}
		<tr>
			<td>{{ user.localpart }}</td>
			<td>{% call value_or_hint(user.display_name) %}{% endcall %}</td>
			<td class="collapsible">{% call value_or_hint(user.email) %}{% endcall %}</td>
			<td class="collapsible">{% call value_or_hint(user.phone) %}{% endcall %}</td>
			<td>
				{%- call action_button("remove", url_for(".delete_user", localpart=user.localpart), class="secondary") -%}
					{% trans user_name=user.localpart %}Delete user {{ user_name }}{% endtrans %}
				{%- endcall -%}
			</td>
		</tr>
{% endfor %}
	</tbody>
</table></div>
{% endblock %}
