{% extends "admin_app.html" %}
{% set body_id = "home" %}
{% block content %}
<h1>{% trans %}Welcome to the admin panel!{% endtrans %}</h1>
<p>{% trans user_name=user_info.display_name %}At your service, {{ user_name }}.{% endtrans %}</p>
<nav class="welcome">
	<ul>
		<li>
			<h2>{% trans %}Users{% endtrans %}</h2>
			{#- -#}
			<p>{% trans %}Create password reset links or delete users.{% endtrans %}</p>
			{#- -#}
			{# <img aria-hidden="true" src="{{ url_for("static", filename="img/illus-profile.svg") }}"> #}
			{#- -#}
			<div>{% call standard_button("people", url_for(".users"), class="primary") %}{% trans %}Manage users{% endtrans %}{% endcall %}</div>
			{#- -#}
		</li>
		<li>
			<h2>{% trans %}Circles{% endtrans %}</h2>
			{#- -#}
			<p>{% trans %}Create and manage social circles represented on your service.{% endtrans %}</p>
			{#- -#}
			<div>{% call standard_button("groups", url_for(".circles"), class="primary") %}{% trans %}Manage circles{% endtrans %}{% endcall %}</div>
			{#- -#}
		</li>
		<li>
			<h2>{% trans %}Invitations{% endtrans %}</h2>
			{#- -#}
			<p>{% trans %}Create, revoke or copy invitations.{% endtrans %}</p>
			{#- -#}
			<div>{% call standard_button("link", url_for(".invitations"), class="primary") %}{% trans %}Manage invitations{% endtrans %}{% endcall %}</div>
			{#- -#}
		</li>
		<li>
			{#- -#}
			<p>{% trans %}Go back to your user's web portal page.{% endtrans %}</p>
			{#- -#}
			<div>{% call standard_button("logout", url_for("user.index"), class="secondary") %}{% trans %}Exit admin panel{% endtrans %}{% endcall %}</div>
			{#- -#}
		</li>
	</ul>
</nav>
{% endblock %}
