{% extends "admin_app.html" %}
{% from "library.j2" import action_button, value_or_hint, custom_form_button %}
{% block content %}
<h1>{% trans %}Manage users{% endtrans %}</h1>
<form method="POST" action="{{ url_for(".create_password_reset_link") }}">
{{- reset_form.csrf_token -}}
<div class="elevated el-2"><table>
	<thead>
		<tr>
			<th>{% trans %}Login name{% endtrans %}</th>
			<th>{% trans %}Display name{% endtrans %}</th>
			<th class="collapsible">{% trans %}Email address{% endtrans %}</th>
			<th class="collapsible">{% trans %}Phone number{% endtrans %}</th>
			<th>{% trans %}Actions{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
{% for user in users %}
		<tr>
			<td>{{ user.localpart }}</td>
			<td>{% call value_or_hint(user.display_name) %}{% endcall %}</td>
			<td class="collapsible">{% call value_or_hint(user.email) %}{% endcall %}</td>
			<td class="collapsible">{% call value_or_hint(user.phone) %}{% endcall %}</td>
			<td class="nowrap">
				{%- call action_button("remove", url_for(".delete_user", localpart=user.localpart), class="secondary") -%}
					{% trans user_name=user.localpart %}Delete user {{ user_name }}{% endtrans %}
				{%- endcall -%}
				{%- call action_button("bug_report", url_for(".debug_user", localpart=user.localpart), class="secondary") -%}
					{% trans user_name=user.localpart %}Show debug information for {{ user_name }}{% endtrans %}
				{%- endcall -%}
				{%- call custom_form_button("create_link", reset_form.action_create.name, user.localpart, class="secondary", slim=True) -%}
					{% trans user_name=user.localpart %}Create password reset link for {{ user_name }}{% endtrans %}
				{%- endcall -%}
				</form>
			</td>
		</tr>
{% endfor %}
	</tbody>
</table></div>
</form>
{% endblock %}
