{% extends "admin_app.html" %}
{% from "library.j2" import showuri, form_button, standard_button %}
{% block head_lead %}
{{ super() }}
{% include "copy-snippet.html" %}
{% endblock %}
{% block content %}
<h1>{% trans %}View invitation{% endtrans %}</h1>
<form method="POST">
{{ form.csrf_token }}
<div class="form layout-expanded">
	<dl>
		<dt>{% trans %}Created{% endtrans %}</dt>
		<dd>{{ invite.created_at | format_date }}</dd>
		<dt>{% trans %}Valid until{% endtrans %}</dt>
		<dd>{{ invite.expires | format_date }}</dd>
		<dt>{% trans %}Link{% endtrans %}</dt>
		<dd>{% call showuri(invite.landing_page) %}{% endcall %}</dd>
	</dl>
	<div class="f-bbox">
		{%- call form_button("remove_link", form.action_revoke, class="secondary danger") %}{% endcall -%}
		{%- call standard_button("back", url_for(".invitations"), class="primary") %}
			{% trans %}Back{% endtrans %}
		{%- endcall %}
	</div>
</div>
</form>
{% endblock %}
