{% extends "admin_app.html" %}
{% block content %}
<h1>{% trans user_name=target_user.localpart %}Edit user {{ user_name }}{% endtrans %}</h1>
<div class="form layout-expanded"><form method="POST">
	<h2 class="form-title">{% trans %}User information{% endtrans %}</h2>
	{{ form.csrf_token }}
	<div class="f-ebox">
		{{ form.username.label }}
		{{ form.username(readonly="readonly") }}
	</div>
	<div class="f-ebox">
		{{ form.nickname.label }}
		{{ form.nickname(readonly="readonly") }}
	</div>
	<div class="f-ebox">
		{{ form.email.label }}
		{{ form.email(readonly="readonly") }}
	</div>
	<div class="f-ebox">
		{{ form.phone.label }}
		{{ form.phone(readonly="readonly") }}
	</div>
	{{ form.action_save(class="primary") }}
	<input type="submit" class="a11y-only">
	<h2 class="form-title">{% trans %}Password reset{% endtrans %}</h2>
	<p>{% trans %}If the user has forgotten their password, use the below button to create a password reset link. The password reset link can be used once to change the password of the account. Transmit the link to the user via a secure channel.{% endtrans %}</p>
	{{ form.action_create_reset_link(class="secondary accent") }}
	<h2 class="form-title">{% trans %}Delete user{% endtrans %}</h2>
	<p>{% trans %}{% endtrans %}</p>
	{{ form.action_create_reset_link(class="secondary accent") }}
</form></div>
{% endblock %}
