{% extends "base.html" %}
{% from "library.j2" import avatar with context %}
{% block head_lead %}
<title>Snikket Web Portal</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
{{ super() }}
{% endblock %}
{% block body %}
<div id="topbar">
	<header><a href="{{ url_for('user.index') }}"><span>{{ config["SNIKKET_DOMAIN"] }}</span></a></header>
	<div class="filler"></div>
	<nav class="usermenu">{% call avatar(user_info.address, user_info.avatar_hash ) %}{% endcall %}{{ user_info.display_name }}</nav>
</div>
<main>{% block content %}{% endblock %}</main>
<footer>
	<ul><li>A <a href="{{ url_for('about') }}">Snikket</a> server</li></ul>
</footer>
{% endblock %}
