<!DOCTYPE html>
<html lang="{{ lang }}" xmlns:xlink="http://www.w3.org/1999/xlink">
	<head>
		<meta charset="utf-8">
		{% block head_lead %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block style %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
		{% endblock %}
	</head>
	<body{% if body_id | default(False) %} id="{{ body_id }}"{% endif %}{% if body_class | default(False) %} class="{{ body_class }}"{% endif %}>{% block body %}{% endblock %}</body>
</html>
