{% extends "base.html" %}
{% from "library.j2" import box, form_button %}
{% block body %}
<div id="topbar" class="{% block topbar_classes %}{% endblock %}">
	<header><a href="{{ url_for('.index') }}"><span>{{ config["SITE_NAME"] }}</span></a></header>
	{% block topbar_left %}{% endblock %}
	<div class="filler"></div>
	{% block topbar_right %}{% endblock %}
</div>
<div id="mwrap"><main>{% block content %}{% endblock %}</main></div>
<footer>
	<ul>
		{#- -#}
		<li>{% trans about_url=url_for('main.about') %}A <a href="{{ about_url }}">Snikket</a> service{% endtrans %}</li>
		{#- -#}
	</ul>
</footer>
{% endblock %}
