{% extends "app.html" %}
{% from "library.j2" import standard_button, form_button %}
{% block content %}
<div class="form layout-expanded"><form method="POST">
	<h2 class="form-title">{% trans %}Sign out of the Snikket Web Portal{% endtrans %}</h2>
	<p class="form-desc">{% trans %}Click below to log yourself out of the web portal. This does not affect any other connected devices.{% endtrans %}</p>
	{{ form.csrf_token }}
	<div class="f-bbox">
		{%- call standard_button("back", url_for("user.index"), class="secondary") -%}
			{% trans %}Back{% endtrans %}
		{%- endcall -%}
		{%- call form_button("logout", form.action_signout, class="primary") %}{% endcall -%}
	</div>
</form></div>
{% endblock %}
