{% extends "app.html" %}
{% block head_lead %}
<title>Snikket Web Portal</title>
{% endblock %}
{% block content %}
<div class="form layout-expanded"><form method="POST" enctype="multipart/form-data">
	<h2 class="form-title">{% trans %}Profile{% endtrans %}</h2>
	{{ form.csrf_token }}
	<div class="f-ebox">
		{{ form.nickname.label }}
		{{ form.nickname(placeholder=user_info.username) }}
	</div>
	<div class="f-ebox">
		{{ form.avatar.label }}
		{{ form.avatar }}
	</div>
	<h3 class="form-title">{% trans %}Visibility{% endtrans %}</h3>
	<p class="form-descr weak">{% trans %}This section allows you to control who can see your profile information, like avatar and nickname.{% endtrans %}</p>
	<div class="f-ebox">
		{{ form.profile_access_model.label }}
		{{ form.profile_access_model }}
	</div>
	<div class="f-bbox">
		<a href="{{ url_for('user.index') }}" class="button secondary">{% trans %}Back{% endtrans %}</a><button type="submit" class="primary">{% trans %}Apply{% endtrans %}</button>
	</div>
</form></div>
{% endblock %}
